<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="UnityMapping" type="WcfAbstraction.TestTools.Unity.UnityMappingSection, WcfAbstraction" />
  </configSections>
  
  <appSettings>
    <add key="ServerName" value="localhost" />
    <add key="PortNumber" value="8000" />
  </appSettings>

  <UnityMapping>
    <!--
     this section sets the transparent proxies used to run the services on the server
    
     Transparent proxy to server (default behavior)
     <add value="WcfAbstraction.Server.Services.ITestService, WcfAbstraction.Server.Contracts" />
    
     Concrete service implementation (concreteType -> concrete implementation of the contract)
     <add value="WcfAbstraction.Server.Services.ITestService, WcfAbstraction.Server.Contracts" concreteType="DataVantage.BL.UnitTesting.TestService, DataVantage.BL.UnitTesting" />
     
     Mock implementation (mockType -> the type holding property implementing the concrete type)
     <add value="WcfAbstraction.Server.Services.ITestService, WcfAbstraction.Server.Contracts" mockType="DataVantage.BL.UnitTesting.UIConfigurationServiceMock, DataVantage.BL.UnitTesting" /
    -->
    <add contractType="WcfAbstraction.Server.Services.ITestService, WcfAbstraction.Server.Contracts"/>
  </UnityMapping>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <dataContractSerializer maxItemsInObjectGraph="5000000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <bindings>
      <netTcpBinding>
        <binding name="DefaultNetTcpBinding" closeTimeout="00:00:30" openTimeout="00:00:30" receiveTimeout="00:10:00" sendTimeout="00:20:00" maxReceivedMessageSize="73400320">
          <!--
            sendTimeout - SendTimeout is used to initialize the OperationTimeout, which governs the whole interaction for sending a 
                          message (including receiving a reply message in a request-reply case).  This timeout also applies when 
                          sending reply messages from a CallbackContract method.
                          
            **receiveTimeout - not used on the client**

            openTimeout - the time it takes to open a connection to the server
            closeTimeout - the time it takes to close the response from the server (response is disposed)
            maxReceivedMessageSize="73400320" is 70MB
          -->
          <!--<security mode="None" />-->
          <readerQuotas maxDepth="500" maxStringContentLength="5242880" maxArrayLength="73400320" />
          <!--
            maxArrayLength="73400320" is 70MB
            maxStringContentLength="5242880" is 5MB
          -->
          <reliableSession inactivityTimeout="01:00:00" enabled="false" />
          <!--Default value for "enabled" is false-->
        </binding>
      </netTcpBinding>
    </bindings>
    
    <client>
      <endpoint address="net.tcp://localhost:8000/TestService" 
                binding="netTcpBinding" 
                bindingConfiguration="DefaultNetTcpBinding" 
                contract="WcfAbstraction.Server.Services.ITestService" />
    </client>
  </system.serviceModel>
  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="App_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="App_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.Linq" publicKeyToken="B77A5C561934E089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="B77A5C561934E089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  
</configuration>